name: Lint and format

on:
  push:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm ci

      - name: Check Formatting
        run: npm run fmt:check

      - name: Lint
        run: npm run lint

      - name: Run tests
        run: npm test
